@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Satisfy&display=swap"');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}

:root {
    --cor-primaria: #ffffff; /* Define a cor primária */
    --cor-secundaria: #e9eaea; /* Define a cor secundária */
    --cor-destaque: #9F0311; /* Define a cor de destaque */
    --cor-black: #000000;
  }

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: var(--cor-secundaria);
}

#logo {
    font-size: 1.2rem;
    font-family: 'Dancing Script', sans-serif;
    color: var(--cor-destaque);
}


.top-menu {
    display: flex;
    gap: 45px;
    margin-right: 10%;
    font-family: 'DM Serif Display', sans-serif;
    
}

.top-menu a {
    text-decoration: none;
    color: var(--cor-black);
}

#contato {
    text-decoration: none;
    color: var(--cor-black);
    font-family: 'DM Serif Display', sans-serif;
}

.top-menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-color: var(--cor-destaque);
}
