@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #ffffff; /* Define a cor primária */
    --cor-secundaria: #e9eaea; /* Define a cor secundária */
    --cor-destaque: #9F0311; /* Define a cor de destaque */
    --cor-black: #000000;
  }

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: var(--cor-secundaria);
}

#logo {
    font-size: 40px;
    font-family: 'Dancing Script', sans-serif;
    color: var(--cor-destaque);
}


.top-menu {
    display: flex;
    gap: 45px;
    margin-right: 10%;
        
}

.top-menu a {
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-black);
    font-family: 'Prompt', sans-serif;
}

#contato {
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-black);
    font-family: 'Prompt', sans-serif;
}

.top-menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    text-decoration-color: var(--cor-destaque);
}
